<div class="container">

  <div class="omb_login">
    <h3 class="omb_authTitle">Recuperar contraseña</h3>

    @if (mensaje()) {
      <div class="row omb_row-sm-offset-3">
        <div class="col-12 col-sm-6">
          <p class="help-block">{{ mensaje() }}</p>
        </div>
      </div>
    }

    @if (step() === 1) {
      <div class="row omb_row-sm-offset-3">
        <div class="col-12 col-sm-6">
          <p>Ingresa tu email y te enviaremos un código de verificación.</p>
          <form class="omb_loginForm" [formGroup]="emailForm" (ngSubmit)="requestCode()" autocomplete="off">
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-person-fill">&nbsp;</i></span>
              <input formControlName="email" type="text" class="form-control" placeholder="Email">
            </div>
            <br>
            <button class="btn btn-lg btn-primary w-100" type="submit" [disabled]="loading()">
              @if (loading()) {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                &nbsp;Enviando...
              } @else {
                Enviar código
              }
            </button>
          </form>
        </div>
      </div>
    } @else {
      <div class="row omb_row-sm-offset-3">
        <div class="col-12 col-sm-6">
          <p>Revisa tu correo e ingresa el código junto con tu nueva contraseña.</p>
          <form class="omb_loginForm" [formGroup]="resetForm" (ngSubmit)="resetPassword()" autocomplete="off">
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-shield-lock-fill">&nbsp;</i></span>
              <input formControlName="code" type="text" class="form-control" placeholder="Código de 6 dígitos">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-lock-fill">&nbsp;</i></span>
              <input formControlName="password" type="password" class="form-control" placeholder="Nueva contraseña">
            </div>
            <br>
            <button class="btn btn-lg btn-primary w-100" type="submit" [disabled]="loading()">
              @if (loading()) {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                &nbsp;Procesando...
              } @else {
                Cambiar contraseña
              }
            </button>
          </form>
        </div>
      </div>
    }

    <br>
    <div class="row omb_row-sm-offset-3">
      <div class="col-12 col-sm-6">
        <p class="omb_forgotPwd">
          <a routerLink="/login">Volver al inicio de sesión</a>
        </p>
      </div>
    </div>
  </div>
</div>
